AWS_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=AKIAXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

TRANSCODE_QUEUE_URL=https://sqs.ap-southeast-2.amazonaws.com/123456789012/video-transcode-queue
COMPLETION_QUEUE_URL=https://sqs.ap-southeast-2.amazonaws.com/927480352470/video-completion-queue

ORIGINAL_VIDEO_BUCKET=video-app-originals
TRANSCODED_BUCKET=video-app-transcoded

FFMPEG_BINARY=ffmpeg
WORK_DIR=/tmp/transcoder

SQS_WAIT_TIME_SECONDS=20
SQS_MAX_MESSAGES=1
SQS_VISIBILITY_TIMEOUT_SECONDS=900
POLL_INTERVAL=2s
SHUTDOWN_GRACE_PERIOD=10s
